/**  =====================
      Authentication css start
==========================  **/

.auth-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 100%;
  min-height: 100vh;
}

.auth-wrapper a,
.auth-wrapper p>a {
  /* font-weight: 500; */
  color: #111;
  text-decoration: none;
}

.auth-wrapper a:hover,
.auth-wrapper p>a:hover {
  text-decoration: underline;
  color: #000 !important;
  /* font-weight: 500; */
}

.auth-wrapper .auth-content {
  position: relative;
  width: 390px;
  min-width: 370px;
  padding: 15px;
}



.auth-svg {
  fill: cornflowerblue;
  color: cornflowerblue;
}

#tab-tab-institute,
#tab-tab-individual {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 18px;
  padding-right: 19px;
}




@media only screen and (max-width: 390px) {
  .auth-wrapper .card .card-body {
    padding: 30px 15px;
  }

  #tab-tab-institute,
  #tab-tab-individual {
    padding-left: 13px;
    padding-right: 14px;
  }

}


/* background */
.auth-wrapper .auth-bg .r {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.auth-wrapper .auth-bg .r:first-child {
  top: -100px;
  right: -100px;
  background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
}

.auth-wrapper .auth-bg .r:last-child {
  left: -100px;
  bottom: -100px;
  background: linear-gradient(-135deg, #899FD4 0%, #A389D4 100%);
}

.auth-wrapper .auth-bg .r.s {
  width: 20px;
  height: 20px;
}

.auth-wrapper .auth-bg .r.s:nth-child(2) {
  top: 150px;
  right: -150px;
  background: #04a9f5;
}

.auth-wrapper .auth-bg .r.s:nth-child(3) {
  left: -150px;
  bottom: 150px;
  background: #1de9b6;
}

.auth-wrapper .auth-bg .r:nth-child(odd) {
  animation: floating 7s infinite;
}

.auth-wrapper .auth-bg .r:nth-child(even) {
  animation: floating 9s infinite;
}



/* image varient start */
@-webkit-keyframes floating {
  from {
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}

@keyframes floating {
  from {
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}

/**====== Authentication css end ======**/



.terms {
  height: 60vh;
  overflow-y: auto;
  font-size: 13px;
  text-align: justify;
  padding: 20px;
}


.show-relative {
  position: relative;
  display: flex;
  align-items: center;
}

.show-password {
  position: absolute;
  right: 10px;

}