*,
::after,
::before {
  box-sizing: border-box;
}


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: url("../public/img/dots-background.png");
}



/* HEADER SECTION*/

.navbar-nav .nav-link {
  border-bottom: 2px solid transparent;
}

.navbar-nav .nav-link:hover,
.navbar-nav .active {
  border-bottom: 2px solid gray;

}

.company-name {
  padding: 0.5rem;
}

.nav-link{
  padding: 0.2rem !important;
  margin: 0.1rem 0.5rem !important;
}



a[href^="tel"] {
  color: #000;
  text-decoration: none !important;
}

a[href^="tel"]:hover {
  color: #000;
}


/* FORM SECTION*/

.mb-3 {
  transition: all 0.3s ease;
}

.form-label {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.1rem 0;
  font-weight: 500;
}




.from-btn {
  width: 80px;
}




/* DEVICE FORM*/

.btn-group>.btn-outline-primary {
  border-color: #ced4da !important;
  color: black !important;
}

.btn-group>.btn-check:checked+.btn-outline-primary {
  background-color: #85B7FE !important;
  color: white !important;
}

.btn-group>.btn-outline-primary:hover {
  background-color: #85B7FE !important;
  color: white !important;
}






.form-control[disabled] {
  border-color: #F8F9FA;
  color: black;
  background-color: #F8F9FA;
  background-image: none;
  appearance: none;
  resize: none;
  transition: all 0.3s ease;
}



.form-control,
.form-select {
  transition: all 0.3s ease;
}




.form-control[type=number]::-webkit-outer-spin-button,
.form-control[type=number]::-webkit-inner-spin-button {
  display: none;
}

.form-control[type=number] {
  -moz-appearance: textfield;
}








/* GRIDJS TABLE SECTION */

.gridjs-container {
  padding: 0;
  display: block;
}

.gridjs-wrapper {
  border-radius: 5px !important;
  box-shadow: none !important;
  border: 1px solid #C4C4C4 !important;
}

.gridjs-footer {
  box-shadow: none !important;
  border: none !important;
  padding: 10px 0 0 0 !important;
}

.gridjs-tr td {
  padding: 6px 12px !important;
}

.gridjs-tr td:last-child {
  text-align: center;
}

.gridjs-tr th {
  padding: 8px !important;
  text-align: center;
}

.gridjs-pagination .gridjs-pages button:first-child {
  border-radius: 5px 0 0 5px !important;
}

.gridjs-pagination .gridjs-pages button:last-child {
  border-radius: 0 5px 5px 0 !important;
}

/* .gridjs-head {
  display: flex;
  justify-content: flex-end;
} */

.gridjs-search {
  /* display: flex !important; */
  width: 100% !important;
}

.gridjs-input {
  width: 100% !important;
}

.next-button,
.prev-button {
  font-weight: 800;
}



/**  =====================
      Authentication css start
==========================  **/

.auth-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 100%;
  min-height: 100vh;
}

.auth-wrapper a,
.auth-wrapper p>a {
  /* font-weight: 500; */
  color: #111;
  text-decoration: none;
}

.auth-wrapper a:hover,
.auth-wrapper p>a:hover {
  text-decoration: underline;
  color: #000 !important;
  /* font-weight: 500; */
}

.auth-wrapper .auth-content {
  position: relative;
  width: 390px;
  min-width: 370px;
  padding: 15px;
}



.auth-svg {
  fill: cornflowerblue;
  color: cornflowerblue;
}





@media only screen and (max-width: 390px) {
  .auth-wrapper .card .card-body {
    padding: 30px 15px;
  }
}


/* background */
.auth-wrapper .auth-bg .r {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.auth-wrapper .auth-bg .r:first-child {
  top: -100px;
  right: -100px;
  background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
}

.auth-wrapper .auth-bg .r:last-child {
  left: -100px;
  bottom: -100px;
  background: linear-gradient(-135deg, #899FD4 0%, #A389D4 100%);
}

.auth-wrapper .auth-bg .r.s {
  width: 20px;
  height: 20px;
}

.auth-wrapper .auth-bg .r.s:nth-child(2) {
  top: 150px;
  right: -150px;
  background: #04a9f5;
}

.auth-wrapper .auth-bg .r.s:nth-child(3) {
  left: -150px;
  bottom: 150px;
  background: #1de9b6;
}

.auth-wrapper .auth-bg .r:nth-child(odd) {
  animation: floating 7s infinite;
}

.auth-wrapper .auth-bg .r:nth-child(even) {
  animation: floating 9s infinite;
}



/* image varient start */
@-webkit-keyframes floating {
  from {
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}

@keyframes floating {
  from {
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}

/**====== Authentication css end ======**/


.terms {
  height: 60vh;
  overflow-y: auto;
  font-size: 13px;
  text-align: justify;
  padding: 20px;
}


.show-relative {
  position: relative;
  display: flex;
  align-items: center;
}

.show-password {
  position: absolute;
  right: 10px;
}




/* MEDIA QUERIES */

@media screen and (max-width: 425px) {
  .header li {
    display: block;
    height: 40px;
    line-height: 40px;
  }

  .header {
    margin: 10px auto;
  }

}




/* LOADING SPINNER CSS */

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
}


.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px)
  }

  50% {
    -webkit-transform: perspective(120px) rotateY(180deg)
  }

  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
